@echo off
set env=
set os_name=Ubuntu-20.04
set workspace_folder_name=workspace
set workspace_path=~/%workspace_folder_name%

set env_path=%workspace_path%/%env%
set vscode_workspace_filepath=%workspace_path%/vscode.code-workspace
set env_vscode_workspace_filepath=%env_path%/vscode.code-workspace

wsl -d %os_name% mkdir -p %env_path%
wsl -d %os_name% cp -n %vscode_workspace_filepath% %env_path%
wsl -d %os_name% code %env_vscode_workspace_filepath%
